# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
# boto3
# Used for downloading models over HTTP
requests

# torch>=1.0.1
torch>=1.0.1
# python==3.6
seaborn
# sklearn
# regex

# boto3==1.10.48
# botocore==1.13.48

urllib3==1.25.4